#mapachile{
    top:50px;
    position:relative;
    float: left;
    left:50px;
    width: 110px;
}


#icons{
    top:205px;
    position:relative;
    float: left;
    left:400px;
    width: 60px; 
    line-height: 5;   
}
#icons{cursor:pointer;}



.nom_Region{
position:absolute;
left: 205px;
top: 300px;
height: 20px;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: bolder;
color:#264653;
}

#titulo{
  position:absolute;
  left: 205px;
  font-family: 'Impact';
  font-size: 72px;
  color:#264653;
}

#section1{
  position:absolute;
  left: 605px;
  right: 60px;
  top: 205px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:#264653;
}

#datosregionales{
position:absolute;
left: 205px;
top: 333px;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
color:#264653;
}

#datosregionales_f{
position:absolute;
left: 205px;
top: 353px; 
font-family: 'Montserrat', sans-serif;
font-size: 18px;
color:#264653;
}

#AricaParinacota,
#Tarapaca,
#Antofagasta,
#Atacama,
#Coquimbo,
#Valparaiso,
#Metropolitana,
#OHiggins,
#Maule,
#Biobio,
#Araucania,
#Los_Rios,
#Los_Lagos,
#Aisen,
#Magallanes{cursor:pointer;}

#AricaParinacota:hover{opacity: 0.5;}
#Tarapaca:hover{opacity: 0.5;}
#Antofagasta:hover{opacity: 0.5;}
#Atacama:hover{opacity: 0.5;}
#Coquimbo:hover{opacity: 0.5;}
#Valparaiso:hover{opacity: 0.5;}
#Metropolitana:hover{opacity: 0.5;}
#OHiggins:hover{opacity: 0.5;}
#Maule:hover{opacity: 0.5;}
#Biobio:hover{opacity: 0.5;}
#Araucania:hover{opacity: 0.5;}
#Los_Rios:hover{opacity: 0.5;}
#Los_Lagos:hover{opacity: 0.5;}
#Aisen:hover{opacity: 0.5;}
#Magallanes:hover{opacity: 0.5;}