body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
  background-color: whitesmoke;
}

#seccion1 {
  background: linear-gradient(180deg, #f6fefd 50%, rgba(255,250,239,1) 100%);;
}

#seccion2 {
  background: linear-gradient(180deg, rgba(255,250,239,1) 50%, rgb(255, 247, 241) 100%);;
}


.container {
  position: relative;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  overflow: auto;
  scroll-snap-type: y mandatory;
  width: 100%;
  height: 100vh;
}

.child {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

#defeducacion {
  background-image: url("imagenes/fondo.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:100% 100%;
}

#DotMatrixChart{
    top: 180px;
    left: 480px; 
    overflow: hidden;
    height: initial;
    font-family: 'Montserrat', sans-serif;
    position: absolute; 
    z-index: 1000;
 }
  

.axis path {
	fill: none;
	stroke:transparent;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
.axis line {
	fill: none;
	stroke:transparent;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	font-size: 12px;
	padding: 5px;
	position: absolute;
  right: 2px;
  text-align: center;
	top: 6px;
	z-index: auto;
	display: block;
  opacity: 0;
    
}

#mapachile{
    top:40px;
    position:relative;
    float: left;
    left:50px;
    overflow: hidden;
    z-index: 900;
}


#iconos{
    top:150px;
    position:absolute;
    float: left;
    left: 50px;
    width: 100px; 
    line-height: 5;   
}
#iconos{
  cursor:pointer;
}

#txticonos{
    top:170px;
    position:absolute;
    float: left;
    left: 200px;
    width: 950px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#264653;
    text-align: justify;
}

#myChart{
  position: absolute;
  left: -480px;
  top: 270px;
}

#porcen{
  position: absolute;
  left: 215px;
  top: 295px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color:#264653;
  font-stretch: extra-condensed;
}

#txtgrafico{
  position: absolute;
  left: 285px;
  top: 285px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:#264653;
  font-stretch: extra-condensed;
}

.nom_Region{
position:absolute;
left: 205px;
top: 100px;
height: 20px;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
font-weight: bolder;
color:#4188a4;

}
#seleccioncomunasRM, #seleccioncomunasI, #seleccioncomunasII,#seleccioncomunasIII,#seleccioncomunasIV,#seleccioncomunasV,#seleccioncomunasVI,#seleccioncomunasVII,#seleccioncomunasVIII,#seleccioncomunasIX ,#seleccioncomunasX,#seleccioncomunasXI,#seleccioncomunasXII,#seleccioncomunasXIV,#seleccioncomunasXV{
  position:absolute;
  left: 205px;
  top: 370px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color:#264653;
  border: 20px;
  text-align: inherit;
}

#titulo{
  position: center;
  font-family: 'Bebas Neue';
  letter-spacing: auto;
  font-size: 72px;
  color:#264653;
  text-align: center;
  top: -19px;
}

#subtitulo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: justify;
  text-align-last: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  top: 170px;
  color:#264653;
}
#PeSD{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  font-size: 12px;
  color:#4188a4;
  visibility: hidden;
  top: 593px;
  left: 25px
}

#datosregionales{
  position:absolute;
  left: 205px;
  top: 163px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color:#264653;

  }

#datosregionales_e{
position:absolute;
left: 205px;
top: 203px;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
color:#264653;
}

#datosregionales_f{
position:absolute;
left: 205px;
top: 183px; 
font-family: 'Montserrat', sans-serif;
font-size: 18px;
color:#264653;
}

.ddm {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  padding: 7px 14px 7px 14px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 0px;
  color: #264653;
}

.comunastitulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  color:#264653;
}



#AricaParinacota,
#Tarapaca,
#Antofagasta,
#Atacama,
#Coquimbo,
#Valparaiso,
#Metropolitana,
#OHiggins,
#Maule,
#Biobio,
#Araucania,
#Los_Rios,
#Los_Lagos,
#Aisen,
#Magallanes{cursor:pointer;}

#AricaParinacota:hover{opacity: 0.5;}
#Tarapaca:hover{opacity: 0.5;}
#Antofagasta:hover{opacity: 0.5;}
#Atacama:hover{opacity: 0.5;}
#Coquimbo:hover{opacity: 0.5;}
#Valparaiso:hover{opacity: 0.5;}
#Metropolitana:hover{opacity: 0.5;}
#OHiggins:hover{opacity: 0.5;}
#Maule:hover{opacity: 0.5;}
#Biobio:hover{opacity: 0.5;}
#Araucania:hover{opacity: 0.5;}
#Los_Rios:hover{opacity: 0.5;}
#Los_Lagos:hover{opacity: 0.5;}
#Aisen:hover{opacity: 0.5;}
#Magallanes:hover{opacity: 0.5;}

#cuadro{
  visibility: visible;
}

.siguiente{
  position: absolute;
  top: 630px;
  left: 650px;
}

.siguiente img {
  animation: slide 0.5s 0.5s ease-out forwards;
  opacity: 0;
}

@keyframes slide {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fade {
  animation: fade ease 2s;
  -webkit-animation: fade ease 2s;
  -moz-animation: fade ease 2s;
}


